{
  "swagger": "2.0",
  "info": {
    "title": "Cellstore API",
    "description": "<h3>CellStore API</h3>",
    "contact": {
      "name": "API Support/Feedback",
      "url": "http://www.28.io/",
      "email": "support@28.io"
    },
    "version": "vX.X.X"
  },
  "schemes": [
    "http"
  ],
  "host": "cellstore.28.io",
  "basePath": "/v1/_queries/public",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/docs": {
      "get": {
        "summary": "Get the documentation of the CellStore API.",
        "operationId": "getDocs",
        "responses": {
          "200": {
            "description": "Returns the documentation of the CellStore API in the OpenAPI specification format.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/components": {
      "get": {
        "summary": "Retrieve a summary for all components of a given archive",
        "operationId": "getComponents",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube_SINGLE"
          },
          {
            "$ref": "#/parameters/disclosure"
          },
          {
            "$ref": "#/parameters/reportElement"
          },
          {
            "$ref": "#/parameters/label_component"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/validate_components"
          },
          {
            "$ref": "#/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all components for the given archive",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Retrieve information about all components of a archive",
            "description": "Retrieve information about all components of a particular archive which is identified by its accession number. Return the result as JSON.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "aid": "0000021344-13-000039"
            }
          },
          {
            "title": "Retrieve information about all components of COCA COLA's latest 10-K",
            "description": "Retrieve information about all components of a particular archive which is identified by its accession number. Return the result as JSON.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "ticker": "ko"
            }
          },
          {
            "title": "Retrieve information about all components of NIPPON STEEL & SUMITOMO METAL CORPORATION's 2014 Q1 archive.",
            "description": "Retrieve information about all components of a particular archive which is identified by a company ID and a fiscal period. Return the result as JSON.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://disclosure.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": 2014,
              "archiveFiscalPeriod": "Q1"
            }
          }
        ]
      }
    },
    "/api/entities": {
      "get": {
        "summary": "Retrieve metadata about the entities that submit archives. These entities are also referred to by facts with the xbrl:Entity aspect, of which the values are called Entity IDs (EIDs). One entity might have several EIDs.",
        "operationId": "getEntities",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "name": "entity-search",
            "in": "query",
            "description": "Includes in the results the entities whose name match this full-text query",
            "required": false,
            "type": "string",
            "x-profile": [
              "japan"
            ]
          },
          {
            "name": "entity-search-offset",
            "in": "query",
            "description": "Includes in the results the entities whose name match the entity-search parameter skipping the first entity-search-offset results (default: 0)",
            "required": false,
            "type": "integer",
            "x-profile": [
              "japan"
            ]
          },
          {
            "name": "entity-search-limit",
            "in": "query",
            "description": "Includes in the results the entities whose name match the entity-search parameter limited to a maximum of entity-search-limit results (default: 10)",
            "required": false,
            "type": "integer",
            "x-profile": [
              "japan"
            ]
          },
          {
            "name": "language",
            "default": "en-US",
            "in": "query",
            "description": "Specifies in which language to perform the entity-search query (default: en-US)",
            "required": false,
            "type": "string",
            "enum": [
              "en-US",
              "en",
              "ja"
            ],
            "x-profile": [
              "japan"
            ]
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns query listing",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Get all companies as JSON.",
            "description": "Retrieve information about all entities. Return the result as JSON.",
            "parameters": {
              "format": "json"
            }
          },
          {
            "title": "Get all companies as XML.",
            "description": "Retrieve information about all entities. Return the result as XML.",
            "parameters": {
              "format": "xml"
            }
          },
          {
            "title": "Get all NIKKEI companies as XML.",
            "description": "Retrieve information about all NIKKEI companies. Return the result as XML",
            "profile": [
              "japan"
            ],
            "parameters": {
              "entity-tag": "NIKKEI",
              "format": "xml"
            }
          },
          {
            "title": "Get all DOW30 companies as CSV.",
            "profile": [
              "sec"
            ],
            "description": "Retrieve information about all DOW30 companies. Return the result as CSV.",
            "parameters": {
              "entity-tag": "DOW30",
              "format": "csv"
            }
          },
          {
            "title": "Get all Japanese companies containing \"Nippon\".",
            "profile": [
              "japan"
            ],
            "description": "Retrieve information about Japanese companies containing \"Nippon\".",
            "parameters": {
              "entity-search": "Nippon"
            }
          },
          {
            "title": "Get all Japanese companies containing \"新日\".",
            "profile": [
              "japan"
            ],
            "description": "Retrieve information about Japanese companies containing \"新日\".",
            "parameters": {
              "entity-search": "新日",
              "language": "ja"
            }
          }
        ]
      },
      "post": {
        "summary": "Add or update entity. The entities are identified with Entity IDs (EIDs).\n\nAn entity must be specified as a JSON object that must be valid against a JSound schema.  It can be either taken from the output of a GET request to the same endpoint (in which case it will be valid), or created manually.\n\nFor convenience, we offer a user-friendly summary of the fields involved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| EID   | string | optional | The entity ID (EID). |\n| EIDs  | array of strings (at least one) | required if EID is absent | The EIDs, if more than one EID exists for this entity. Must be present if and only if EID is absent. |\n| Profiles | object | optional | Maps profile names to additional profile-specific information. The profile-specific information must have a Name field containing the profile name, that is, identical to its key. The other fields in the profile information is not restricted. |\n\nAdditionally, the following field is allowed for the purpose of feeding back the output of the entities endpoint as input:\n\n- Archives (string)\n\nSeveral entities can be created at the same time by posting a sequence of non-comma-separated JSON objects as above.\n",
        "operationId": "addEntities",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "The entity objects, which must be supplied in the body of the request, and which must satisfy the constraints described in the field table.",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities have been added.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "One of the supplied entities is invalid.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "409": {
            "description": "Duplicate entity in the input or entity already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Add an entity",
            "description": "Adds a new entity.",
            "method": "post",
            "body": "{ \"EID\": \"http://www.example.com 001\" }"
          }
        ]
      },
      "delete": {
        "summary": "Deletes an entity.",
        "operationId": "deleteEntity",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/eid_SINGLE"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/ticker"
          }
        ],
        "responses": {
          "204": {
            "description": "Entity has been deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Cannot delete more than one entity at a time (safety mechanism). Or, Archives still exist for this entity.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": null
      },
      "patch": {
        "summary": "Update one or more entities with partial information",
        "operationId": "editEntities",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "name": "patch",
            "in": "body",
            "description": "The patch object, which will be merged into each entity (the entities must be valid after applying it).\n\nUpdating the EID of an entity is not allowed.\n",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the patched entities",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request: a parameter is missing or invalid, or an entity is invalid after applying the patch, or an EID was updated",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        }
      }
    },
    "/api/facts": {
      "get": {
        "summary": "Retrieve one or more facts for a combination of archives.",
        "operationId": "getFacts",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format_atom"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/concept"
          },
          {
            "$ref": "#/parameters/fiscalYear"
          },
          {
            "$ref": "#/parameters/fiscalPeriod"
          },
          {
            "$ref": "#/parameters/fiscalPeriodType"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod"
          },
          {
            "$ref": "#/parameters/map"
          },
          {
            "$ref": "#/parameters/rule"
          },
          {
            "$ref": "#/parameters/report"
          },
          {
            "$ref": "#/parameters/additional-rules"
          },
          {
            "$ref": "#/parameters/labels"
          },
          {
            "$ref": "#/parameters/metadata"
          },
          {
            "$ref": "#/parameters/audit-trails"
          },
          {
            "$ref": "#/parameters/open"
          },
          {
            "$ref": "#/parameters/prefix:dimension"
          },
          {
            "$ref": "#/parameters/prefix:dimension::type"
          },
          {
            "$ref": "#/parameters/prefix:dimension::default"
          },
          {
            "$ref": "#/parameters/prefix:dimension::category"
          },
          {
            "$ref": "#/parameters/prefix:dimension::visible"
          },
          {
            "$ref": "#/parameters/prefix:dimension::slicer"
          },
          {
            "$ref": "#/parameters/prefix:dimension::column"
          },
          {
            "$ref": "#/parameters/prefix:dimension::aggregation"
          },
          {
            "$ref": "#/parameters/aggregation-function"
          },
          {
            "$ref": "#/parameters/validate_facts"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fact listing",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request: a parameter is missing or invalid or total is used together with csv or excel serialization",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Retrieve us-gaap:Assets for DOW30",
            "description": "Retrieve the value of us-gaap:Assets for all DOW30 entities for the latest reported year. Bring in all data regardless of which characteristic. Return the result as JSON",
            "profile": [
              "sec"
            ],
            "parameters": {
              "concept": "us-gaap:Assets",
              "entity-tag": "dow30"
            }
          },
          {
            "title": "Count facts on Coca Cola over 2012/2013/2014 FY",
            "description": "Count the number of facts reported by coca cola in FY 2012/13/14",
            "profile": [
              "sec"
            ],
            "parameters": {
              "ticker": "ko",
              "fiscalYear": [
                "2012",
                "2013",
                "2014"
              ],
              "fiscalPeriod": "FY",
              "count": "true"
            }
          },
          {
            "title": "Retrieve us-gaap:Assets for DOW30 which relates to the root reporting entity only.",
            "description": "Retrieve the value of us-gaap:Assets for all DOW30 entities for the latest reported year which relates to the root reporting entity only. Return the result as JSON.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "concept": "us-gaap:Assets",
              "dei:LegalEntityAxis": "sec:DefaultLegalEntity",
              "entity-tag": "dow30"
            }
          },
          {
            "title": "Retrieve fac:NetCashFlow for DOW30",
            "description": "Retrieve the value of fac:NetCashFlow (using the FundamentalAccountingConcepts map) for the DOW30 entities for the year 2011. Return the result as CSV.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "concept": "fac:NetCashFlow",
              "report": "FundamentalAccountingConcepts",
              "entity-tag": "dow30",
              "fiscalYear": "2011",
              "format": "csv"
            }
          },
          {
            "title": "Get value of Total Assets and Profit/Loss by company name/ID for Q1/2014",
            "description": "Get value of Total Assets and Profit/Loss by company name/ID for Q1/2014.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "edinetcode": "E02529",
              "fiscalPeriod": "Q1",
              "fiscalYear": 2014,
              "concept": [
                "jpcrp-cor:TotalAssetsIFRSSummaryOfBusinessResults",
                "jpcrp-cor:ProfitLossAttributableToOwnersOfParentIFRSSummaryOfBusinessResults"
              ]
            }
          },
          {
            "title": "Get value of current assets for each fiscal year for E02513.",
            "description": "Get value of current assets for each fiscal year for E02513.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "edinetcode": "E02513",
              "fiscalPeriod": "FY",
              "fiscalYear": "ALL",
              "concept": [
                "jppfs-cor:Assets",
                "jp-t-cte:Assets"
              ],
              "jppfs-cor:ConsolidatedOrNonConsolidatedAxis": "ALL",
              "jppfs-cor:ConsolidatedOrNonConsolidatedAxis::default": "jppfs-cor:NonConsolidatedMember"
            }
          },
          {
            "title": "Get Number of Shares held by major shareholders by company name/ID for Q2/2014",
            "description": "Get Number of Shares held by major shareholders by company name/ID for Q2/2014.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://disclosure.edinet-fsa.go.jp E02529-000",
              "fiscalPeriod": "Q2",
              "fiscalYear": 2014,
              "concept": [
                "jpcrp-cor:NumberOfSharesHeld",
                "jpcrp-cor:ShareholdingRatio"
              ],
              "jpcrp-cor:MajorShareholdersAxis": "ALL",
              "jpcrp-cor:MajorShareholdersAxis::default": "NONE"
            }
          },
          {
            "title": "Count Number of Shares held by major shareholders by company name/ID for Q2/2014",
            "description": "Count Number of Shares held by major shareholders by company name/ID for Q2/2014.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://disclosure.edinet-fsa.go.jp E02529-000",
              "fiscalPeriod": "Q2",
              "fiscalYear": 2014,
              "concept": [
                "jpcrp-cor:NumberOfSharesHeld",
                "jpcrp-cor:ShareholdingRatio"
              ],
              "jpcrp-cor:MajorShareholdersAxis": "ALL",
              "jpcrp-cor:MajorShareholdersAxis::default": "NONE",
              "count": "true"
            }
          },
          {
            "title": "Compare stocks of subsidiaries and affiliates between Canon and Mitsubishi",
            "description": "Compare Balance Sheet between Canon and Mitsubishi as XML.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "format": "xml",
              "concept": [
                "jp-t-cte:StocksOfSubsidiariesAndAffiliates",
                "jppfs-cor:StocksOfSubsidiariesAndAffiliates"
              ],
              "edinetcode": [
                "E02274",
                "E02529"
              ],
              "fiscalPeriod": "FY",
              "fiscalYear": "ALL",
              "jppfs-cor:ConsolidatedOrNonConsolidatedAxis": "ALL",
              "jppfs-cor:ConsolidatedOrNonConsolidatedAxis::default": "jppfs-cor:NonConsolidatedMember",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "NONE",
              "tse-ed-t:PreviousCurrentAxis": "ALL",
              "tse-ed-t:PreviousCurrentAxis::default": "NONE"
            }
          },
          {
            "title": "Get forecast values by company name/ID and reported period/forecast period",
            "description": "Get forecast values by company name/ID and reported period/forecast period.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "format": "xml",
              "concept": "tse-ed-t:BasicEarningsPerShareIFRS",
              "ticker": 8058,
              "tse-ed-t:ResultForecastAxis": "tse-ed-t:ForecastMember",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "ALL",
              "fiscalYear": 2014
            }
          },
          {
            "title": "Get all dividend forecasts for 2014 by company name/ID",
            "description": "Get all dividend forecasts for 2014 by company name/ID",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://www.tse.or.jp/sicc 54010",
              "fiscalYear": 2014,
              "fiscalPeriod": "ALL",
              "fiscalPeriodType": "QTD",
              "concept": "tse-ed-t:DividendPerShare",
              "tse-ed-t:ResultForecastAxis": "tse-ed-t:ForecastMember",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:AnnualDividendPaymentScheduleAxis": "ALL",
              "tse-ed-t:PreviousCurrentAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "NONE",
              "tse-ed-t:AnnualDividendPaymentScheduleAxis::default": "NONE",
              "tse-ed-t:PreviousCurrentAxis::default": "NONE"
            }
          },
          {
            "title": "Get all dividend forecasts for 2014 by company name/ID reported in Q1/2014",
            "description": "Get all dividend forecasts for 2014 by company name/ID reported in Q1/2014",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://www.tse.or.jp/sicc 54010",
              "fiscalYear": 2014,
              "fiscalPeriod": "ALL",
              "fiscalPeriodType": "QTD",
              "concept": "tse-ed-t:DividendPerShare",
              "tse-ed-t:ResultForecastAxis": "tse-ed-t:ForecastMember",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:AnnualDividendPaymentScheduleAxis": "ALL",
              "tse-ed-t:PreviousCurrentAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "NONE",
              "tse-ed-t:AnnualDividendPaymentScheduleAxis::default": "NONE",
              "tse-ed-t:PreviousCurrentAxis::default": "NONE",
              "fsa:ArchiveFiscalPeriod": "Q1",
              "fsa:ArchiveFiscalYear": 2014
            }
          },
          {
            "title": "Get all dividend data for 2014 reported by Canon. Open hypercube semantics.",
            "description": "Get all dividend data for 2014 reported by canon",
            "profile": [
              "japan"
            ],
            "parameters": {
              "ticker": 7751,
              "fiscalYear": 2014,
              "fiscalPeriod": "FY",
              "concept": "tse-ed-t:DividendPerShare",
              "open": "true"
            }
          },
          {
            "title": "Get all Profit forecasts for FY/2014 by company name/ID",
            "description": "Get all Profit forecasts for FY/2014 by company name/ID",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://www.tse.or.jp/sicc 80580",
              "fiscalYear": 2014,
              "fiscalPeriod": "FY",
              "concept": "tse-ed-t:ProfitAttributableToOwnersOfParentIFRS",
              "tse-ed-t:ResultForecastAxis": "tse-ed-t:ForecastMember",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:PreviousCurrentAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "NONE",
              "tse-ed-t:PreviousCurrentAxis::default": "NONE"
            }
          },
          {
            "title": "Get all Profit forecasts and actual values for FY/2014 by company name/ID",
            "description": "Get all Profit forecasts and actual values for FY/2014 by company name/ID",
            "profile": [
              "japan"
            ],
            "parameters": {
              "xbrl:Entity": "http://www.tse.or.jp/sicc 80580",
              "fiscalYear": 2014,
              "fiscalPeriod": "FY",
              "concept": "tse-ed-t:ProfitAttributableToOwnersOfParentIFRS",
              "tse-ed-t:ResultForecastAxis": [
                "tse-ed-t:ForecastMember",
                "xbrl28:EDINETReportedValue"
              ],
              "tse-ed-t:ResultForecastAxis::default": "xbrl28:EDINETReportedValue",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis": "ALL",
              "tse-ed-t:PreviousCurrentAxis": "ALL",
              "tse-ed-t:ConsolidatedNonconsolidatedAxis::default": "NONE",
              "tse-ed-t:PreviousCurrentAxis::default": "NONE",
              "fsa:ArchiveFiscalPeriod": "ALL",
              "fsa:ArchiveFiscalYear": "ALL"
            }
          }
        ]
      },
      "post": {
        "summary": "Add a fact to a archive.",
        "operationId": "addFacts",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "name": "fact",
            "in": "body",
            "description": "The fact objects (they must be valid, and have an archive aspect that points to an existing archive). To logically delete a fact, omit the Value field.",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fact objects that has been added to the cell store.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "One of the supplied facts is invalid.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such archive or entity could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": []
      },
      "patch": {
        "summary": "Patch one or more facts",
        "operationId": "editFacts",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/concept"
          },
          {
            "$ref": "#/parameters/fiscalYear"
          },
          {
            "$ref": "#/parameters/fiscalPeriod"
          },
          {
            "$ref": "#/parameters/fiscalPeriodType"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod"
          },
          {
            "$ref": "#/parameters/map"
          },
          {
            "$ref": "#/parameters/rule"
          },
          {
            "$ref": "#/parameters/report"
          },
          {
            "$ref": "#/parameters/additional-rules"
          },
          {
            "$ref": "#/parameters/open"
          },
          {
            "$ref": "#/parameters/prefix:dimension"
          },
          {
            "$ref": "#/parameters/prefix:dimension::type"
          },
          {
            "$ref": "#/parameters/prefix:dimension::default"
          },
          {
            "$ref": "#/parameters/prefix:dimension::category"
          },
          {
            "$ref": "#/parameters/prefix:dimension::visible"
          },
          {
            "$ref": "#/parameters/prefix:dimension::slicer"
          },
          {
            "$ref": "#/parameters/prefix:dimension::column"
          },
          {
            "$ref": "#/parameters/prefix:dimension::aggregation"
          },
          {
            "$ref": "#/parameters/aggregation-function"
          },
          {
            "$ref": "#/parameters/validate_facts"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "patch",
            "in": "body",
            "description": "The patch object, which will be merged into each facts (the facts must be valid after applying it).",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the patched facts",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request: a parameter is missing or invalid, or a fact is invalid after applying the patch",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        }
      }
    },
    "/api/facttable-for-component": {
      "get": {
        "summary": "Retrieve the fact table for a given component. A component can be selected in several ways, for example with an accession number (AID), section URI and hypercube name, or with a CIK, fiscal year, fiscal period, and disclosure, etc.",
        "operationId": "getFactTableForComponent",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format_atom"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube"
          },
          {
            "$ref": "#/parameters/concept"
          },
          {
            "$ref": "#/parameters/fiscalYear"
          },
          {
            "$ref": "#/parameters/fiscalPeriod"
          },
          {
            "$ref": "#/parameters/fiscalPeriodType"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/additional-rules"
          },
          {
            "$ref": "#/parameters/labels"
          },
          {
            "$ref": "#/parameters/metadata"
          },
          {
            "$ref": "#/parameters/audit-trails"
          },
          {
            "$ref": "#/parameters/open"
          },
          {
            "$ref": "#/parameters/prefix:dimension"
          },
          {
            "$ref": "#/parameters/prefix:dimension::category"
          },
          {
            "$ref": "#/parameters/prefix:dimension::visible"
          },
          {
            "$ref": "#/parameters/prefix:dimension::slicer"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/disclosure"
          },
          {
            "$ref": "#/parameters/reportElement"
          },
          {
            "$ref": "#/parameters/label_component"
          },
          {
            "$ref": "#/parameters/aggregation-function"
          },
          {
            "$ref": "#/parameters/validate_facts"
          },
          {
            "$ref": "#/parameters/merge"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/override"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the fact table for the given component",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found. / No such component could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Fact Table as CSV",
            "description": "Retrieve the fact table for a particular component. Return the result as CSV",
            "profile": [
              "sec"
            ],
            "parameters": {
              "aid": "0000021344-14-000008",
              "section": "http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets",
              "format": "csv"
            }
          },
          {
            "title": "Fact Table of Coca Cola's Q3/2013 Balance Sheet",
            "description": "Retrieve the fact table for the Balance Sheet of Coca Cola archive identified with accession number 0000021344-13-000050. Return the result as XML",
            "profile": [
              "sec"
            ],
            "parameters": {
              "format": "xml",
              "aid": "0000021344-13-000050",
              "disclosure": "BalanceSheet"
            }
          },
          {
            "title": "Fact Table as CSV",
            "description": "Retrieve the fact table for a particular component. Return the result as CSV",
            "profile": [
              "sec"
            ],
            "parameters": {
              "aid": "0000021344-14-000008",
              "section": "http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets",
              "format": "csv"
            }
          },
          {
            "title": "Fact Table of Coca Cola's Q3/2013 Balance Sheet",
            "description": "Retrieve the fact table for the Balance Sheet of Coca Cola archive identified with accession number 0000021344-13-000050. Return the result as XML",
            "profile": [
              "sec"
            ],
            "parameters": {
              "format": "xml",
              "aid": "0000021344-13-000050",
              "disclosure": "BalanceSheet"
            }
          },
          {
            "title": "Get B/S report by company name/ID and period (by default in English)",
            "description": "Get B/S report by company name/ID and period (by default in English)",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get B/S report by company name/ID and period, in Japanese",
            "description": "Get B/S report by company name/ID and period, in Japanese",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "language": "ja",
              "format": "xml"
            }
          },
          {
            "title": "Get P/L report by company name/ID and period",
            "description": "Get B/S report by company name/ID and period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get C/F report by company name/ID and period",
            "description": "Get C/F report by company name/ID and period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get B/S report for multiple FYs by company name/ID and range of period",
            "description": "Get B/S report for multiple FYs by company name/ID and range of period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": [
                "Q1",
                "Q2"
              ],
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get P/L report for multiple FYs by company name/ID and range of period",
            "description": "Get P/L report for multiple FYs by company name/ID and range of period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": [
                "Q1",
                "Q2"
              ],
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get C/S report for multiple FYs by company name/ID and range of period",
            "description": "Get C/S report for multiple FYs by company name/ID and range of period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "eid": "http://info.edinet-fsa.go.jp E01225-000",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": [
                "Q1",
                "Q2"
              ],
              "section": "http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get B/S report of different companies by list of company names/IDs and period",
            "description": "Get B/S report of different companies by list of company names/IDs and period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "entity-tag": "NIKKEI",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get P/L report of different companies by list of company names/IDs and period",
            "description": "Get P/L report of different companies by list of company names/IDs and period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "entity-tag": "NIKKEI",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          },
          {
            "title": "Get C/S report of different companies by list of company names/IDs and period",
            "description": "Get C/S report of different companies by list of company names/IDs and period",
            "profile": [
              "japan"
            ],
            "parameters": {
              "entity-tag": "NIKKEI",
              "archiveFiscalYear": "2014",
              "archiveFiscalPeriod": "Q1",
              "section": "http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows",
              "profile-name": "japan",
              "merge": "true",
              "labels": "true",
              "format": "xml"
            }
          }
        ]
      }
    },
    "/api/facttable-for-report": {
      "get": {
        "summary": "Retrieve the fact table for a given report. Filters can be overriden. Filters MUST be overriden if the report is not already filtering.",
        "operationId": "getFactTableForReport",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format_atom"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/concept"
          },
          {
            "$ref": "#/parameters/fiscalYear"
          },
          {
            "$ref": "#/parameters/fiscalPeriod"
          },
          {
            "$ref": "#/parameters/fiscalPeriodType"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/open"
          },
          {
            "$ref": "#/parameters/report"
          },
          {
            "$ref": "#/parameters/labels"
          },
          {
            "$ref": "#/parameters/metadata"
          },
          {
            "$ref": "#/parameters/audit-trails"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/aggregation-function"
          },
          {
            "$ref": "#/parameters/validate_facts"
          },
          {
            "$ref": "#/parameters/override"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the fact table for the given component",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Fact Table for the Fundamental Accounting Concepts of COCA COLA's 2010..2013 10-K archives as CSV.",
            "description": "Retrieve the fact table for a particular component. Return the result as CSV.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "report": "FundamentalAccountingConcepts",
              "ticker": "ko",
              "fiscalYear": [
                "2013",
                "2012",
                "2011",
                "2010"
              ],
              "fiscalPeriod": "FY",
              "format": "csv"
            }
          },
          {
            "title": "Fact Table for the Fundamental Accounting Concepts of EAST JAPAN RAILWAY COMPANY for Q1 2014",
            "description": "Retrieve the fact table for a particular report. Return the result as XML.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "report": "JapaneseFundamentalAccountingConcepts",
              "edinetcode": "E04147",
              "fiscalYear": [
                "2014"
              ],
              "fiscalPeriod": "Q1",
              "format": "xml"
            }
          }
        ]
      }
    },
    "/api/data-points-for-component": {
      "get": {
        "summary": "Retrieve the data points for a given component. A component can be selected in several ways, for example with an accession number (AID), section URI and hypercube name, or with a CIK, fiscal year, fiscal period, and disclosure, etc.",
        "operationId": "getDataPointsForComponent",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube"
          },
          {
            "$ref": "#/parameters/concept"
          },
          {
            "$ref": "#/parameters/fiscalYear"
          },
          {
            "$ref": "#/parameters/fiscalPeriod"
          },
          {
            "$ref": "#/parameters/fiscalPeriodType"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/labels"
          },
          {
            "$ref": "#/parameters/metadata"
          },
          {
            "$ref": "#/parameters/open"
          },
          {
            "$ref": "#/parameters/prefix:dimension"
          },
          {
            "$ref": "#/parameters/prefix:dimension::category"
          },
          {
            "$ref": "#/parameters/prefix:dimension::visible"
          },
          {
            "$ref": "#/parameters/prefix:dimension::slicer"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/disclosure"
          },
          {
            "$ref": "#/parameters/reportElement"
          },
          {
            "$ref": "#/parameters/label_component"
          },
          {
            "$ref": "#/parameters/merge"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/override"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the data points for the given component",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found. / No such component could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Data Points as CSV",
            "description": "Retrieve the data points for a particular component. Return the result as CSV",
            "profile": [
              "sec"
            ],
            "parameters": {
              "aid": "0000021344-14-000008",
              "section": "http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets",
              "format": "csv",
              "labels": true
            }
          },
          {
            "title": "Data Points of Coca Cola's Q3/2013 Balance Sheet",
            "description": "Retrieve the data points for the Balance Sheet of Coca Cola archive identified with accession number 0000021344-13-000050. Return the result as XML",
            "profile": [
              "sec"
            ],
            "parameters": {
              "format": "xml",
              "aid": "0000021344-13-000050",
              "disclosure": "BalanceSheet",
              "labels": true,
              "metadata": true
            }
          }
        ]
      }
    },
    "/api/archives": {
      "get": {
        "summary": "Retrieve metadata about the archives, also called archives. The archives are identified with Archive IDs (AIDs). Facts can be bound with archives with the xbrl28:Archive aspect, whose values are AIDs.",
        "operationId": "getArchives",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all archives for the given entity",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Get all archives from a specific entity.",
            "description": "Retrieve information about the archives of an entity. Return the result as XML.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "cik": "66740",
              "format": "xml"
            }
          },
          {
            "title": "Get all EDINET archives.",
            "description": "Retrieve all EDINET archives for 2012.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "entity-tag": "all",
              "archive-tag": "EDINET",
              "archiveFiscalPeriod": "ALL",
              "archiveFiscalYear": 2012
            }
          }
        ]
      },
      "post": {
        "summary": "Add or update archives. The archives are identified with Archive IDs (AIDs).\n\nThere are two ways to create an archive: a full import of an XBRL instance and taxonomy out of a ZIP file, or a new empty archive with a JSON object containing its metadata.\n\nA full import is performed by provided, in the body of the request, a ZIP Deflate-compressed archive. This will import all the facts from the instance, as well as the taxonomy schema and linkbases.\n\nAlternatively, a new empty archive can be created by submitting a JSON object containing general information about the archive. This JSON object must be valid agains a JSound schema. It can be either taken from the output of a GET request to the same endpoint (in which case it will be valid), or created manually.\n\nFor convenience, we offer a user-friendly summary of the fields involved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| AID | string | required | The AID of the archive |\n| Entity   | string | optional | The EID to which the archive belongs |\n| Entities  | array of strings (at least one) | required if Entity is absent | Used if the archive reports information on more than one entity. |\n| InstanceURL  | string | optional | The URL of the original XBRL instance |\n| Namespaces  | object with string values | optional | Maps prefixes to namespaces for the archive (common bindings are automatically added) |\n| Profiles | object | optional | Maps profile names to additional profile-specific information. The profile-specific information must have a Name field containing the profile name, that is, identical to its key. The other fields in the profile information is not restricted. |\n\nAdditionally, the following fields are allowed for the purpose of feeding back the output of the archives endpoint as input:\n\n- Components (string)\n- Sections (string)\n- NumSections (integer)\n- NumFacts (integer)\n- NumFootnotes (integer)\n- NumReportElements (integer)\n- NumHypercubes (integer)\n- NumDimensions (integer)\n- NumMembers (integer)\n- NumLineItems (integer)\n- NumAbstracts (integer)\n- NumConcepts (integer)\n\nSeveral empty archives can be created at the same time by posting a sequence of non-comma-separated JSON objects as above.\n",
        "operationId": "addArchives",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid_SINGLE"
          },
          {
            "name": "archive-detection-profile-name",
            "in": "query",
            "description": "this parameter can be used to override the algorithm used to identify which files are the archive entrypoint. Allowed values are: AUTO (automatic detection) and FSA (automatic detection, with identification of Audit and Public documents).",
            "required": false,
            "type": "string",
            "enum": [
              "AUTO",
              "FSA"
            ],
            "default": "AUTO"
          },
          {
            "name": "taxonomy",
            "in": "query",
            "description": "Whether the specified archive is an XBRL taxonomy or not. (Only used when providing compressed XBRL archives)",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "insert-entity",
            "in": "query",
            "description": "If false, and one or more of the archive entities are not present in the repository an error is raised. If true, the missing entity is inserted. (Default is true, only used when providing compressed XBRL archives)",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type of the request, as an HTTP header. It must be set to \"application/json\" when providing an archive in json format, or to \"application/xbrlx\" when providing a ZIP Deflate-compressed XBRL archive.",
            "required": false,
            "type": "string",
            "enum": [
              "application/json",
              "application/xbrlx"
            ]
          },
          {
            "name": "archive",
            "in": "body",
            "description": "The body of the request. If the content type is application/json, the archive JSON objects, which must satisfy the constraints described in the field table. If the content type is application/xbrlx, a single ZIP-Deflate-compressed XBRL archive.",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archives have been added.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "One of the supplied archives is invalid or (if JSON) already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "409": {
            "description": "Duplicate archive in the input or archive already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Import an XBRL instance",
            "description": "Imports a ZIP-Deflate-compressed XBRL archive",
            "method": "post",
            "body": "[ZIP-Deflate-compressed XBRL archive]"
          },
          {
            "title": "Create a new archive",
            "description": "Create a new archive from scratch",
            "method": "post",
            "body": "{ \"AID\" : \"my-archive\", \"Entity\" : \"http://www.example.com 001\" }"
          }
        ]
      },
      "delete": {
        "summary": "Deletes an archive.",
        "operationId": "deleteArchive",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid_SINGLE"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          }
        ],
        "responses": {
          "204": {
            "description": "Archives have been deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Cannot delete more than one archive at a time (safety mechanism).",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity or archive could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": null
      },
      "patch": {
        "summary": "Update one or more archives with partial information",
        "operationId": "editArchives",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "name": "patch",
            "in": "body",
            "description": "The patch object, which will be merged into each archive (the archive objects must be valid after applying it).\n\nUpdating the AID of an archive is not allowed.\n",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the patched archives",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request: a parameter is missing or invalid, or an archive is invalid after applying the patch, or an AID was updated",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such archive could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        }
      }
    },
    "/api/labels": {
      "get": {
        "summary": "Retrieve labels for the supplied components and report elements",
        "operationId": "getLabels",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube_SINGLE"
          },
          {
            "$ref": "#/parameters/disclosure"
          },
          {
            "$ref": "#/parameters/reportElement"
          },
          {
            "$ref": "#/parameters/label_component"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/labelRole"
          },
          {
            "$ref": "#/parameters/onlyTextBlocks"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters by concept kind (default: no filtering)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "Hypercube",
              "Dimension",
              "Member",
              "LineItems",
              "Abstract",
              "Concept"
            ]
          },
          {
            "name": "eliminateReportElementDuplicates",
            "in": "query",
            "description": "Whether to eliminate (concept name, language, label role) duplicates. By default no duplicate elimination",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all components for the given archive",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found. / No such component could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Retrieve information about all Japanese labels of a archive",
            "description": "Retrieves, in XML, all Japanese standard labels for a archive.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "aid": "S1003QRF",
              "language": "ja",
              "labelRole": "http://www.xbrl.org/2003/role/label",
              "format": "xml"
            }
          },
          {
            "title": "Get label of standard taxonomy by element name, as XML.",
            "description": "Get label of standard taxonomy by element name.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "aid": "EDINET-TAXONOMY-2014-03-31",
              "format": "xml",
              "profile-name": "japan",
              "reportElement": "jppfs-cor:CurrentAssets"
            }
          },
          {
            "title": "Get element name of standard taxonomy by label, as XML.",
            "description": "Get element name of standard taxonomy by label.",
            "profile": [
              "japan"
            ],
            "parameters": {
              "aid": "EDINET-TAXONOMY-2014-03-31",
              "format": "xml",
              "profile-name": "japan",
              "label": "Accounting policy for deferred assets"
            }
          }
        ]
      },
      "post": {
        "summary": "Add or update labels. A label is identified with an Archive ID (AID),\na section URI, a report element, a language and a label role.\n\nA label can be created by submitting a JSON object containing general\ninformation about the label. This JSON object must be valid against a\nJSound schema. It can be either taken from the output of a GET request\nto the same endpoint (in which case it will be valid), or created\nmanually.\n\nFor convenience, we offer a user-friendly summary of the fields\ninvolved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field         | Type   | Presence | Content                          |\n|---------------|--------|----------|----------------------------------|\n| AID           | string | required | The AID of the archive to which the section belongs |\n| SectionURI    | string | required | The URI of the section           |\n| ReportElement | string | required | The name of a report element     |\n| Language      | string | required | A language code, e.g., en-US or de |\n| Role          | string | required | A label role                     |\n| Value         | string | required | The label itself                 |\n\nSeveral labels can be created at the same time by posting a sequence of\nnon-comma-separated JSON objects as above.\n",
        "operationId": "addLabels",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "name": "label",
            "in": "body",
            "description": "The label objects (they must be valid).",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels have been added.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "One of the supplied labels is invalid or (if JSON) already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such archive or section or report element could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "409": {
            "description": "One of the supplied labels already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": null
      },
      "delete": {
        "summary": "Deletes a label.",
        "operationId": "deleteLabel",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid_SINGLE"
          },
          {
            "$ref": "#/parameters/section_SINGLE"
          },
          {
            "$ref": "#/parameters/reportElement_SINGLE"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/labelRole"
          }
        ],
        "responses": {
          "204": {
            "description": "The label has been deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Cannot delete more than one label at a time (safety mechanism).",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such archive or section or report element or label could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": null
      }
    },
    "/api/modelstructure-for-component": {
      "get": {
        "summary": "Retrieve the model structure for a given component. A component can be selected in several ways, for example with an accession number (AID), section URI and hypercube name, or with a CIK, fiscal year, fiscal period, and disclosure, etc.",
        "operationId": "getModelStructureForComponent",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/eid"
          },
          {
            "$ref": "#/parameters/cik"
          },
          {
            "$ref": "#/parameters/ticker"
          },
          {
            "$ref": "#/parameters/edinetcode"
          },
          {
            "$ref": "#/parameters/entity-tag"
          },
          {
            "$ref": "#/parameters/sic"
          },
          {
            "$ref": "#/parameters/archiveFiscalYear_ALL"
          },
          {
            "$ref": "#/parameters/archiveFiscalPeriod_ALL"
          },
          {
            "$ref": "#/parameters/archive-tag"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube"
          },
          {
            "$ref": "#/parameters/disclosure"
          },
          {
            "$ref": "#/parameters/reportElement"
          },
          {
            "$ref": "#/parameters/label_component"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/indent"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the model structure for the given component",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such entity could be found. / No such archive could be found. / No such component could be found",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": [
          {
            "title": "Model Structure as XML",
            "description": "Retrieve the model structure for a particular component. Return the result as XML.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "aid": "0000021344-14-000008",
              "section": "http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets",
              "format": "xml"
            }
          },
          {
            "title": "Model Structure of Coca Cola's Q3/2013 Balance Sheet",
            "description": "Retrieve the model structure for a the Balance Sheet of Coca Cola archive identified with accession number 0000021344-13-000050. Return the result as XML.",
            "profile": [
              "sec"
            ],
            "parameters": {
              "format": "xml",
              "aid": "0000021344-13-000050",
              "disclosure": "BalanceSheet"
            }
          }
        ]
      },
      "post": {
        "summary": "Add or update components by providing their model structures. The components are identified with an AID, a section URI and the qualified name of a hypercube.\n\nA new component can be created by submitting a JSON object containing the model structure of the component. This JSON object must be valid agains a JSound schema. It can be either taken from the output of a GET request to the same endpoint (in which case it will be valid), or created manually.\n\nFor convenience, we offer a user-friendly summary of the fields involved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| AID | string | required | The AID of the archive to which the component belongs |\n| SectionURI   | string (URI) | optional | The URI of the section to which the component belongs |\n| HypercubeName  | string (QName lexical space) | required | The name of the hypercube that this component involves |\n| ModelStructure  | array of model structure node objects | required | The hierarchical model structure, as a tree of nodes that reference report elements (see below) |\n\nAdditionally, the following fields are allowed for the purpose of feeding back the output of the modelstructure-for-component endpoint as input:\n\n- Section (string)\n- Hypercube (string)\n\n#### Model structure node properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| Name | string | required | The qualified name of a report element that exists in the component's section |\n| Children   | array | optional | An array of model structure node objects that reference further children report elements |\n\nAdditionally, the following fields are allowed for the purpose of feeding back the output of the modelstructure-for-component endpoint as input:\n\n- Depth (integer)\n- Label (string)\n- BaseType (string)\n- Kind (string)\n- Order (integer)\n- DataType (string)\n- BaseDataType (string)\n- Balance (string)\n- Abstract (boolean)\n- PeriodType (string)\n\nThe hierarchy of the model structure must fulfill the constraints described in the documentation of model structures. We repeat it here for convenience:\n\n| Kind of report element |  Allowed children                           |\n|------------------------|---------------------------------------------|\n| Abstract               | Hypercube (if top-level), Abstract, Concept |\n| Hypercube              | Dimension, LineItems                        |\n| Dimension              | Member                                      |\n| Member                 | Member                                      |\n| LineItems              | Abstract, Concept                           |\n| Concept                | none                                        |\n\nThe model structure MUST involve the hypercube referred to in the top-level HypercubeName field, only this one, and only once, either top-level or below a top-level abstract. Its children are the dimensions with their members, as well as the line items hierarchy.\n\nThe only exception to the requirement of the hypercube report element is the special xbrl28:ImpliedTable hypercube. If HypercubeName is xbrl28:ImpliedTable, then the model structure can only involve Abstracts and Concepts, and has no dimensionality.\n\nSeveral components can be created at the same time by posting a sequence of non-comma-separated JSON model structure objects as above.\n",
        "operationId": "addModelStructureForComponent",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/profile-name"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/format-indent"
          },
          {
            "$ref": "#/parameters/token"
          },
          {
            "name": "model-structure",
            "in": "body",
            "description": "The model structures, which must satisfy the constraints described in the properties table.",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Components have been added.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "One of the supplied model structures is invalid. Or one of the components is a duplicate in the body. Or the supplied HypercubeName is not a hypercube.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "401": {
            "description": "Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "403": {
            "description": "Access denied.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "404": {
            "description": "No such archive or section or report element could be found.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "409": {
            "description": "The component with the specified archive, section and hypercube already exists.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          },
          "500": {
            "description": "An internal error occurred during the processing of the request.",
            "schema": {
              "$ref": "#/definitions/Outcome"
            }
          }
        },
        "x-examples": null
      },
      "delete": {
        "summary": "Deletes a component including its model structure.",
        "operationId": "deleteModelStructureForComponent",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/aid"
          },
          {
            "$ref": "#/parameters/section"
          },
          {
            "$ref": "#/parameters/hypercube"
          },
          {
            "$ref": "#/parameters/token"
          }
        ],
        "responses": {
          "204": {
            "description": "The report element has been deleted.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Cannot delete more than one component at a time (safety mechanism).",
            "schema": {
[...]
