{"swagger":"2.0","info":{"title":"Cellstore API","description":"<h3>CellStore API</h3>","contact":{"name":"API Support/Feedback","url":"http://www.28.io/","email":"support@28.io"},"version":"1.0"},"schemes":["http"],"host":"secxbrl.28.io","basePath":"/v1/_queries/public","consumes":["application/json"],"produces":["application/json"],"paths":{"/api/components":{"get":{"summary":"Retrieve a summary for all components of a given filing","operationId":"listComponents","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"filingKind","in":"query","description":"The kind of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["EDINET","TDNET","entity","quarterly-securities-report","extraordinary-report","internal-control-report","annual-securities-report","reports-of-possession-of-large-volumes","change-report","amend"],"x-profile":["japan"]},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"section","in":"query","description":"The URI of a particular section, to retrieve a section, component or report element.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi"},{"name":"hypercube","in":"query","description":"The name of a hypercube report element, to retrieve components / sections.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"disclosure","in":"query","description":"A disclosure, to identify sections or components (e.g. BalanceSheet).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"reportElement","in":"query","description":"The name of the report element to search for, to retrieve a section, a component or a report element (e.g. us-gaap:Goodwill).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"label","in":"query","description":"A search term to search in the labels of components, to retrieve components (e.g. stock).","required":false,"type":"string"},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"validate","in":"query","description":"Whether to run validation on the output components (default: false). Adds a column ValidationErrors","required":false,"type":"boolean","default":false},{"name":"language","in":"query","description":"A language code (default: en-US) for displaying labels.","required":false,"type":"string","enum":["en-US","en","ja","he","fr","de-CH","de","es","zh"]}],"responses":{"200":{"description":"Returns all components for the given filing","schema":{"type":"object"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found. / No such archive could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Retrieve information about all components of a filing","description":"Retrieve information about all components of a particular filing which is identified by its accession number. Return the result as JSON.","profile":["sec"],"parameters":{"aid":"0000021344-13-000039"}},{"title":"Retrieve information about all components of COCA COLA's latest 10-K","description":"Retrieve information about all components of a particular filing which is identified by its accession number. Return the result as JSON.","profile":["sec"],"parameters":{"ticker":"ko"}},{"title":"Retrieve information about all components of NIPPON STEEL & SUMITOMO METAL CORPORATION's 2014 Q1 filing.","description":"Retrieve information about all components of a particular filing which is identified by a company ID and a fiscal period. Return the result as JSON.","profile":["japan"],"parameters":{"eid":"http://disclosure.edinet-fsa.go.jp E01225-000","archiveFiscalYear":2014,"archiveFiscalPeriod":"Q1"}}]}},"/api/entities":{"get":{"summary":"Retrieve metadata about the entities that submit filings. These entities are also referred to by facts with the xbrl:Entity aspect, of which the values are called Entity IDs (EIDs). One entity might have several EIDs.","operationId":"listEntities","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"entity-search","in":"query","description":"Includes in the results the entities whose name match this full-text query","required":false,"type":"string","x-profile":["japan"]},{"name":"entity-search-offset","in":"query","description":"Includes in the results the entities whose name match the entity-search parameter skipping the first entity-search-offset results (default: 0)","required":false,"type":"integer","x-profile":["japan"]},{"name":"entity-search-limit","in":"query","description":"Includes in the results the entities whose name match the entity-search parameter limited to a maximum of entity-search-limit results (default: 10)","required":false,"type":"integer","x-profile":["japan"]},{"name":"language","default":"en-US","in":"query","description":"Specifies in which language to perform the entity-search query (default: en-US)","required":false,"type":"string","enum":["en-US","en","ja"],"x-profile":["japan"]},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"}],"responses":{"200":{"description":"Returns query listing","schema":{"type":"object"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Get all companies as JSON.","description":"Retrieve information about all entities. Return the result as JSON.","parameters":{"format":"json"}},{"title":"Get all companies as XML.","description":"Retrieve information about all entities. Return the result as XML.","parameters":{"format":"xml"}},{"title":"Get all NIKKEI companies as XML.","description":"Retrieve information about all NIKKEI companies. Return the result as XML","profile":["japan"],"parameters":{"tag":"NIKKEI","format":"xml"}},{"title":"Get all DOW30 companies as CSV.","profile":["sec"],"description":"Retrieve information about all DOW30 companies. Return the result as CSV.","parameters":{"tag":"DOW30","format":"csv"}},{"title":"Get all Japanese companies containing \"Nippon\".","profile":["japan"],"description":"Retrieve information about Japanese companies containing \"Nippon\".","parameters":{"entity-search":"Nippon"}},{"title":"Get all Japanese companies containing \"新日\".","profile":["japan"],"description":"Retrieve information about Japanese companies containing \"新日\".","parameters":{"entity-search":"新日","language":"ja"}}]},"post":{"summary":"Add or update entity. The entities are identified with Entity IDs (EIDs).\n\nAn entity must be specified as a JSON object that must be valid against a JSound schema.  It can be either taken from the output of a GET request to the same endpoint (in which case it will be valid), or created manually.\n\nFor convenience, we offer a user-friendly summary of the fields involved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| EID   | string | optional | The entity ID (EID). |\n| EIDs  | array of strings (at least one) | required if EID is absent | The EIDs, if more than one EID exists for this entity. Must be present if and only if EID is absent. |\n| Profiles | object | optional | Maps profile names to additional profile-specific information. The profile-specific information must have a Name field containing the profile name, that is, identical to its key. The other fields in the profile information is not restricted. |\n\nAdditionally, the following field is allowed for the purpose of feeding back the output of the entities endpoint as input:\n\n- Archives (string)\n\nSeveral entities can be created at the same time by posting a sequence of non-comma-separated JSON objects as above.\n","operationId":"insertEntities","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"entity","in":"body","description":"The entity objects, which must be supplied in the body of the request, and which must satisfy the constraints described in the field table.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"Entities have been added.","schema":{"type":"object"}},"400":{"description":"One of the supplied entities is invalid.","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied.","schema":{"$ref":"#/definitions/Outcome"}},"409":{"description":"Duplicate entity in the input or entity already exists.","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request.","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Add an entity","description":"Adds a new entity.","method":"post","body":"{ \"EID\": \"http://www.example.com 001\" }"}]},"delete":{"summary":"Deletes an entity.","operationId":"deleteEntity","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]}],"responses":{"204":{"description":"Entity has been deleted.","schema":{"type":"object"}},"400":{"description":"Cannot delete more than one entity at a time (safety mechanism). Or, Archives still exist for this entity.","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied.","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found.","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request.","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":null}},"/api/facts":{"get":{"summary":"Retrieve one or more facts for a combination of filings.","operationId":"listFacts","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html","atom-xml"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"concept","in":"query","description":"The name of a concept to dice facts (a synonym for the dimension xbrl:Concept).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fiscalYear","in":"query","description":"A fiscal year to slice facts (a synonym for the dimension xbrl28:FiscalYear, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriod","in":"query","description":"A fiscal period to slice facts (a synonym for the dimension xbrl28:FiscalPeriod, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriodType","in":"query","description":"A fiscal period type to slice facts (a synonym for the dimension xbrl28:FiscalPeriodType, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["instant","YTD","QTD"],"x-profile":["sec","japan"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"map","in":"query","description":"[Deprecated, use report] The concept map that should be used to resolve the concept (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"],"x-deprecated":true},{"name":"rule","in":"query","description":"[Deprecated, use report] The rules that should be used to resolve the concept (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"],"x-deprecated":true},{"name":"report","in":"query","description":"The report to use as a context to retrieve the facts. In particular, concept maps and rules found in this report will be used. (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"additional-rules","in":"query","description":"The name of a report from which to use rules in addition to a report's rules (e.g. FundamentalAccountingConcepts).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"labels","in":"query","description":"Whether human-readable labels should be included for concepts in each fact (default: false).","required":false,"type":"boolean","default":false},{"name":"audit-trails","in":"query","description":"Whether audit trails should be included in each fact (default: no).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"open","in":"query","description":"Whether the hypercube query has open hypercube semantics, i.e., automatically stretches to accommodate for all found dimensions (default: false).","required":false,"type":"boolean"},{"name":"prefix:dimension","in":"query","description":"The name of a dimension used for slicing and dicing facts. Accepted format: prefix:dimension. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved.","required":false,"type":"string","x-binding-name":"dimensions","x-binding-description":"A set of dimension names and values used for filtering. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved. Each key is in the form prefix:dimension, each value is a string.","x-name-pattern":"^[^:]+:[^:]+$"},{"name":"prefix:dimension::type","in":"query","description":"Sets the dimension to be a typed dimension with the specified type (default: xbrl:Entity/xbrl:Period/xbrl:Unit/xbrl28:Archive are typed string, others are explicit dimensions; Some further dimensions may have default types depending on the profile).","required":false,"type":"string","x-binding-name":"dimensionTypes","x-binding-description":"Sets the given dimensions to be typed dimensions with the specified type (Default: xbrl:Entity/xbrl:Period/xbrl:Unit/xbrl28:Archive are typed string, others are explicit dimensions; Some further dimensions may have default types depending on the profile). Each key is in the form prefix:dimension::type, each value is a string.","x-name-pattern":"^[^:]+:[^:]+::type$"},{"name":"prefix:dimension::default","in":"query","description":"The default value of the dimension [prefix:dimension] that should be returned if the dimension was not provided explicitly for a fact. Accepted format: prefix:dimension::default.","required":false,"type":"string","x-binding-name":"defaultDimensionValues","x-binding-description":"Specifies the default value of the given dimensions that should be returned if the dimension was not provided explicitly for a fact. Each key is in the form  prefix:dimension::default, each value is a string.","x-name-pattern":"^[^:]+:[^:]+::default$"},{"name":"prefix:dimension::category","in":"query","description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along slicers and grouped along dicers (default: unchanged).","required":false,"type":"string","enum":["slicer","dicer","unchanged"],"x-binding-name":"dimensionsCategory","x-binding-description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along this dimension (default: unchanged).","x-name-pattern":"^[^:]+:[^:]+::category$"},{"name":"prefix:dimension::visible","in":"query","description":"Specifies whether the dimension is visible in the output. Only applies to dimensions defined as slicers. Default: false for slicers, but always true for dicers.","required":false,"type":"boolean","x-binding-name":"dimensionsVisible","x-name-pattern":"^[^:]+:[^:]+::visible$"},{"name":"prefix:dimension::slicer","in":"query","description":"[Deprecated] Specifies whether the dimension is a slicer (true) or not (false). Slicer dimensions do not appear in the output fact table, and if an aggregation function is specified, facts are aggregated along this dimension (default: false).","required":false,"type":"boolean","x-binding-name":"dimensionSlicers","x-name-pattern":"^[^:]+:[^:]+::slicer$","x-deprecated":true},{"name":"prefix:dimension::column","in":"query","description":"If the dimension is visible in the output, specifies the position at which it appears in the output fact table (default: arbitrary order).","required":false,"type":"integer","x-binding-name":"dimensionColumns","x-name-pattern":"^[^:]+:[^:]+::column$"},{"name":"prefix:dimension::aggregation","in":"query","description":"[Deprecated] Specifies whether this dimension is a dicer ('group') or not ('no'). If a dicer, facts will be grouped along this dimension before applying the supplied aggregation function. By default, all key aspects, except those explicitly specified as slicers, are dicers ('group') and non-key aspects are not ('no'). Has no effect if no aggregation function is supplied, or if the dimension is explicitly specified as a slicer.","required":false,"type":"string","enum":["group","aggregate","no"],"x-binding-name":"dimensionAggregation","x-name-pattern":"^[^:]+:[^:]+::aggregation$"},{"name":"aggregation-function","in":"query","description":"Specify an aggregation function to aggregate facts. Will aggregate facts, grouped by dicers, but aggregated along slicers, with this function.","required":false,"type":"string","enum":["sum","avg","min","max","count","avedev","median","mode","product","stdev","stdeva","stdevp","stdevpa","sumsq","var","vara","varp","varpa"]},{"name":"validate","in":"query","description":"Whether or not to stamp facts for validity (default is false).","required":false,"type":"boolean","default":false},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"}],"responses":{"200":{"description":"Returns the fact listing","schema":{"type":"object"}},"400":{"description":"Bad request: a parameter is missing or invalid or total is used together with csv or excel serialization","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found. / No such archive could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Retrieve us-gaap:Assets for DOW30","description":"Retrieve the value of us-gaap:Assets for all DOW30 entities for the latest reported year. Bring in all data regardless of which characteristic. Return the result as JSON","profile":["sec"],"parameters":{"concept":"us-gaap:Assets","tag":"dow30"}},{"title":"Count facts on Coca Cola over 2012/2013/2014 FY","description":"Count the number of facts reported by coca cola in FY 2012/13/14","profile":["sec"],"parameters":{"ticker":"ko","fiscalYear":["2012","2013","2014"],"fiscalPeriod":"FY","count":"true"}},{"title":"Retrieve us-gaap:Assets for DOW30 which relates to the root reporting entity only.","description":"Retrieve the value of us-gaap:Assets for all DOW30 entities for the latest reported year which relates to the root reporting entity only. Return the result as JSON.","profile":["sec"],"parameters":{"concept":"us-gaap:Assets","dei:LegalEntityAxis":"sec:DefaultLegalEntity","tag":"dow30"}},{"title":"Retrieve fac:NetCashFlow for DOW30","description":"Retrieve the value of fac:NetCashFlow (using the FundamentalAccountingConcepts map) for the DOW30 entities for the year 2011. Return the result as CSV.","profile":["sec"],"parameters":{"concept":"fac:NetCashFlow","report":"FundamentalAccountingConcepts","tag":"dow30","fiscalYear":"2011","format":"csv"}},{"title":"Get value of Total Assets and Profit/Loss by company name/ID for Q1/2014","description":"Get value of Total Assets and Profit/Loss by company name/ID for Q1/2014.","profile":["japan"],"parameters":{"edinetcode":"E02529","fiscalPeriod":"Q1","fiscalYear":2014,"concept":["jpcrp-cor:TotalAssetsIFRSSummaryOfBusinessResults","jpcrp-cor:ProfitLossAttributableToOwnersOfParentIFRSSummaryOfBusinessResults"]}},{"title":"Get value of current assets for each fiscal year for E02513.","description":"Get value of current assets for each fiscal year for E02513.","profile":["japan"],"parameters":{"edinetcode":"E02513","fiscalPeriod":"FY","fiscalYear":"ALL","concept":["jppfs-cor:Assets","jp-t-cte:Assets"],"jppfs-cor:ConsolidatedOrNonConsolidatedAxis":"ALL","jppfs-cor:ConsolidatedOrNonConsolidatedAxis::default":"jppfs-cor:NonConsolidatedMember"}},{"title":"Get Number of Shares held by major shareholders by company name/ID for Q2/2014","description":"Get Number of Shares held by major shareholders by company name/ID for Q2/2014.","profile":["japan"],"parameters":{"xbrl:Entity":"http://disclosure.edinet-fsa.go.jp E02529-000","fiscalPeriod":"Q2","fiscalYear":2014,"concept":["jpcrp-cor:NumberOfSharesHeld","jpcrp-cor:ShareholdingRatio"],"jpcrp-cor:MajorShareholdersAxis":"ALL","jpcrp-cor:MajorShareholdersAxis::default":"NONE"}},{"title":"Count Number of Shares held by major shareholders by company name/ID for Q2/2014","description":"Count Number of Shares held by major shareholders by company name/ID for Q2/2014.","profile":["japan"],"parameters":{"xbrl:Entity":"http://disclosure.edinet-fsa.go.jp E02529-000","fiscalPeriod":"Q2","fiscalYear":2014,"concept":["jpcrp-cor:NumberOfSharesHeld","jpcrp-cor:ShareholdingRatio"],"jpcrp-cor:MajorShareholdersAxis":"ALL","jpcrp-cor:MajorShareholdersAxis::default":"NONE","count":"true"}},{"title":"Compare stocks of subsidiaries and affiliates between Canon and Mitsubishi","description":"Compare Balance Sheet between Canon and Mitsubishi as XML.","profile":["japan"],"parameters":{"format":"xml","concept":["jp-t-cte:StocksOfSubsidiariesAndAffiliates","jppfs-cor:StocksOfSubsidiariesAndAffiliates"],"edinetcode":["E02274","E02529"],"fiscalPeriod":"FY","fiscalYear":"ALL","jppfs-cor:ConsolidatedOrNonConsolidatedAxis":"ALL","jppfs-cor:ConsolidatedOrNonConsolidatedAxis::default":"jppfs-cor:NonConsolidatedMember","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"NONE","tse-ed-t:PreviousCurrentAxis":"ALL","tse-ed-t:PreviousCurrentAxis::default":"NONE"}},{"title":"Get forecast values by company name/ID and reported period/forecast period","description":"Get forecast values by company name/ID and reported period/forecast period.","profile":["japan"],"parameters":{"format":"xml","concept":"tse-ed-t:BasicEarningsPerShareIFRS","ticker":8058,"tse-ed-t:ResultForecastAxis":"tse-ed-t:ForecastMember","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"ALL","fiscalYear":2014}},{"title":"Get all dividend forecasts for 2014 by company name/ID","description":"Get all dividend forecasts for 2014 by company name/ID","profile":["japan"],"parameters":{"xbrl:Entity":"http://www.tse.or.jp/sicc 54010","fiscalYear":2014,"fiscalPeriod":"ALL","fiscalPeriodType":"QTD","concept":"tse-ed-t:DividendPerShare","tse-ed-t:ResultForecastAxis":"tse-ed-t:ForecastMember","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:AnnualDividendPaymentScheduleAxis":"ALL","tse-ed-t:PreviousCurrentAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"NONE","tse-ed-t:AnnualDividendPaymentScheduleAxis::default":"NONE","tse-ed-t:PreviousCurrentAxis::default":"NONE"}},{"title":"Get all dividend forecasts for 2014 by company name/ID reported in Q1/2014","description":"Get all dividend forecasts for 2014 by company name/ID reported in Q1/2014","profile":["japan"],"parameters":{"xbrl:Entity":"http://www.tse.or.jp/sicc 54010","fiscalYear":2014,"fiscalPeriod":"ALL","fiscalPeriodType":"QTD","concept":"tse-ed-t:DividendPerShare","tse-ed-t:ResultForecastAxis":"tse-ed-t:ForecastMember","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:AnnualDividendPaymentScheduleAxis":"ALL","tse-ed-t:PreviousCurrentAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"NONE","tse-ed-t:AnnualDividendPaymentScheduleAxis::default":"NONE","tse-ed-t:PreviousCurrentAxis::default":"NONE","fsa:ArchiveFiscalPeriod":"Q1","fsa:ArchiveFiscalYear":2014}},{"title":"Get all dividend data for 2014 reported by Canon. Open hypercube semantics.","description":"Get all dividend data for 2014 reported by canon","profile":["japan"],"parameters":{"ticker":7751,"fiscalYear":2014,"fiscalPeriod":"FY","concept":"tse-ed-t:DividendPerShare","open":"true"}},{"title":"Get all Profit forecasts for FY/2014 by company name/ID","description":"Get all Profit forecasts for FY/2014 by company name/ID","profile":["japan"],"parameters":{"xbrl:Entity":"http://www.tse.or.jp/sicc 80580","fiscalYear":2014,"fiscalPeriod":"FY","concept":"tse-ed-t:ProfitAttributableToOwnersOfParentIFRS","tse-ed-t:ResultForecastAxis":"tse-ed-t:ForecastMember","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:PreviousCurrentAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"NONE","tse-ed-t:PreviousCurrentAxis::default":"NONE"}},{"title":"Get all Profit forecasts and actual values for FY/2014 by company name/ID","description":"Get all Profit forecasts and actual values for FY/2014 by company name/ID","profile":["japan"],"parameters":{"xbrl:Entity":"http://www.tse.or.jp/sicc 80580","fiscalYear":2014,"fiscalPeriod":"FY","concept":"tse-ed-t:ProfitAttributableToOwnersOfParentIFRS","tse-ed-t:ResultForecastAxis":["tse-ed-t:ForecastMember","xbrl28:EDINETReportedValue"],"tse-ed-t:ResultForecastAxis::default":"xbrl28:EDINETReportedValue","tse-ed-t:ConsolidatedNonconsolidatedAxis":"ALL","tse-ed-t:PreviousCurrentAxis":"ALL","tse-ed-t:ConsolidatedNonconsolidatedAxis::default":"NONE","tse-ed-t:PreviousCurrentAxis::default":"NONE","fsa:ArchiveFiscalPeriod":"ALL","fsa:ArchiveFiscalYear":"ALL"}}]},"post":{"summary":"Add a fact to a filing.","operationId":"addFacts","tags":["data"],"parameters":[{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"fact","in":"body","description":"The fact objects (they must be valid, and have an archive aspect that points to an existing archive). To logically delete a fact, omit the Value field.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"Returns the fact objects that has been added to the cell store.","schema":{"type":"object"}},"400":{"description":"One of the supplied facts is invalid.","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such archive or entity could be found.","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request.","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[]},"patch":{"summary":"Patch one or more facts","operationId":"patchFacts","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"concept","in":"query","description":"The name of a concept to dice facts (a synonym for the dimension xbrl:Concept).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fiscalYear","in":"query","description":"A fiscal year to slice facts (a synonym for the dimension xbrl28:FiscalYear, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriod","in":"query","description":"A fiscal period to slice facts (a synonym for the dimension xbrl28:FiscalPeriod, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriodType","in":"query","description":"A fiscal period type to slice facts (a synonym for the dimension xbrl28:FiscalPeriodType, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["instant","YTD","QTD"],"x-profile":["sec","japan"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"map","in":"query","description":"[Deprecated, use report] The concept map that should be used to resolve the concept (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"],"x-deprecated":true},{"name":"rule","in":"query","description":"[Deprecated, use report] The rules that should be used to resolve the concept (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"],"x-deprecated":true},{"name":"report","in":"query","description":"The report to use as a context to retrieve the facts. In particular, concept maps and rules found in this report will be used. (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"additional-rules","in":"query","description":"The name of a report from which to use rules in addition to a report's rules (e.g. FundamentalAccountingConcepts).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"open","in":"query","description":"Whether the hypercube query has open hypercube semantics, i.e., automatically stretches to accommodate for all found dimensions (default: false).","required":false,"type":"boolean"},{"name":"prefix:dimension","in":"query","description":"The name of a dimension used for slicing and dicing facts. Accepted format: prefix:dimension. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved.","required":false,"type":"string","x-binding-name":"dimensions","x-binding-description":"A set of dimension names and values used for filtering. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved. Each key is in the form prefix:dimension, each value is a string.","x-name-pattern":"^[^:]+:[^:]+$"},{"name":"prefix:dimension::type","in":"query","description":"Sets the dimension to be a typed dimension with the specified type (default: xbrl:Entity/xbrl:Period/xbrl:Unit/xbrl28:Archive are typed string, others are explicit dimensions; Some further dimensions may have default types depending on the profile).","required":false,"type":"string","x-binding-name":"dimensionTypes","x-binding-description":"Sets the given dimensions to be typed dimensions with the specified type (Default: xbrl:Entity/xbrl:Period/xbrl:Unit/xbrl28:Archive are typed string, others are explicit dimensions; Some further dimensions may have default types depending on the profile). Each key is in the form prefix:dimension::type, each value is a string.","x-name-pattern":"^[^:]+:[^:]+::type$"},{"name":"prefix:dimension::default","in":"query","description":"The default value of the dimension [prefix:dimension] that should be returned if the dimension was not provided explicitly for a fact. Accepted format: prefix:dimension::default.","required":false,"type":"string","x-binding-name":"defaultDimensionValues","x-binding-description":"Specifies the default value of the given dimensions that should be returned if the dimension was not provided explicitly for a fact. Each key is in the form  prefix:dimension::default, each value is a string.","x-name-pattern":"^[^:]+:[^:]+::default$"},{"name":"prefix:dimension::category","in":"query","description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along slicers and grouped along dicers (default: unchanged).","required":false,"type":"string","enum":["slicer","dicer","unchanged"],"x-binding-name":"dimensionsCategory","x-binding-description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along this dimension (default: unchanged).","x-name-pattern":"^[^:]+:[^:]+::category$"},{"name":"prefix:dimension::visible","in":"query","description":"Specifies whether the dimension is visible in the output. Only applies to dimensions defined as slicers. Default: false for slicers, but always true for dicers.","required":false,"type":"boolean","x-binding-name":"dimensionsVisible","x-name-pattern":"^[^:]+:[^:]+::visible$"},{"name":"prefix:dimension::slicer","in":"query","description":"[Deprecated] Specifies whether the dimension is a slicer (true) or not (false). Slicer dimensions do not appear in the output fact table, and if an aggregation function is specified, facts are aggregated along this dimension (default: false).","required":false,"type":"boolean","x-binding-name":"dimensionSlicers","x-name-pattern":"^[^:]+:[^:]+::slicer$","x-deprecated":true},{"name":"prefix:dimension::column","in":"query","description":"If the dimension is visible in the output, specifies the position at which it appears in the output fact table (default: arbitrary order).","required":false,"type":"integer","x-binding-name":"dimensionColumns","x-name-pattern":"^[^:]+:[^:]+::column$"},{"name":"prefix:dimension::aggregation","in":"query","description":"[Deprecated] Specifies whether this dimension is a dicer ('group') or not ('no'). If a dicer, facts will be grouped along this dimension before applying the supplied aggregation function. By default, all key aspects, except those explicitly specified as slicers, are dicers ('group') and non-key aspects are not ('no'). Has no effect if no aggregation function is supplied, or if the dimension is explicitly specified as a slicer.","required":false,"type":"string","enum":["group","aggregate","no"],"x-binding-name":"dimensionAggregation","x-name-pattern":"^[^:]+:[^:]+::aggregation$"},{"name":"aggregation-function","in":"query","description":"Specify an aggregation function to aggregate facts. Will aggregate facts, grouped by dicers, but aggregated along slicers, with this function.","required":false,"type":"string","enum":["sum","avg","min","max","count","avedev","median","mode","product","stdev","stdeva","stdevp","stdevpa","sumsq","var","vara","varp","varpa"]},{"name":"validate","in":"query","description":"Whether or not to stamp facts for validity (default is false).","required":false,"type":"boolean","default":false},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"patch","in":"body","description":"The patch object, which will be merged into each facts (the facts must be valid after applying it).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"Returns the patched facts","schema":{"type":"object"}},"400":{"description":"Bad request: a parameter is missing or invalid, or a fact is invalid after applying the patch","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found. / No such archive could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}}}},"/api/facttable-for-component":{"get":{"summary":"Retrieve the fact table for a given component. A component can be selected in several ways, for example with an accession number (AID), section URI and hypercube name, or with a CIK, fiscal year, fiscal period, and disclosure, etc.","operationId":"listFactTable","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html","atom-xml"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"section","in":"query","description":"The URI of a particular section, to retrieve a section, component or report element.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi"},{"name":"hypercube","in":"query","description":"The name of a hypercube report element, to retrieve components / sections.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"concept","in":"query","description":"The name of a concept to dice facts (a synonym for the dimension xbrl:Concept).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fiscalYear","in":"query","description":"A fiscal year to slice facts (a synonym for the dimension xbrl28:FiscalYear, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriod","in":"query","description":"A fiscal period to slice facts (a synonym for the dimension xbrl28:FiscalPeriod, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriodType","in":"query","description":"A fiscal period type to slice facts (a synonym for the dimension xbrl28:FiscalPeriodType, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["instant","YTD","QTD"],"x-profile":["sec","japan"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"additional-rules","in":"query","description":"The name of a report from which to use rules in addition to a report's rules (e.g. FundamentalAccountingConcepts).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"labels","in":"query","description":"Whether human-readable labels should be included for concepts in each fact (default: false).","required":false,"type":"boolean","default":false},{"name":"audit-trails","in":"query","description":"Whether audit trails should be included in each fact (default: no).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"open","in":"query","description":"Whether the hypercube query has open hypercube semantics, i.e., automatically stretches to accommodate for all found dimensions (default: false).","required":false,"type":"boolean"},{"name":"prefix:dimension","in":"query","description":"The name of a dimension used for slicing and dicing facts. Accepted format: prefix:dimension. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved.","required":false,"type":"string","x-binding-name":"dimensions","x-binding-description":"A set of dimension names and values used for filtering. As a value, the value of the dimension or ALL can be provided if all facts with this dimension should be retrieved. Each key is in the form prefix:dimension, each value is a string.","x-name-pattern":"^[^:]+:[^:]+$"},{"name":"prefix:dimension::category","in":"query","description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along slicers and grouped along dicers (default: unchanged).","required":false,"type":"string","enum":["slicer","dicer","unchanged"],"x-binding-name":"dimensionsCategory","x-binding-description":"Specifies whether the dimension is a slicer, a dicer, or unchanged. If an aggregation function is specified, facts are aggregated along this dimension (default: unchanged).","x-name-pattern":"^[^:]+:[^:]+::category$"},{"name":"prefix:dimension::visible","in":"query","description":"Specifies whether the dimension is visible in the output. Only applies to dimensions defined as slicers. Default: false for slicers, but always true for dicers.","required":false,"type":"boolean","x-binding-name":"dimensionsVisible","x-name-pattern":"^[^:]+:[^:]+::visible$"},{"name":"prefix:dimension::slicer","in":"query","description":"[Deprecated] Specifies whether the dimension is a slicer (true) or not (false). Slicer dimensions do not appear in the output fact table, and if an aggregation function is specified, facts are aggregated along this dimension (default: false).","required":false,"type":"boolean","x-binding-name":"dimensionSlicers","x-name-pattern":"^[^:]+:[^:]+::slicer$","x-deprecated":true},{"name":"filingKind","in":"query","description":"The kind of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["EDINET","TDNET","entity","quarterly-securities-report","extraordinary-report","internal-control-report","annual-securities-report","reports-of-possession-of-large-volumes","change-report","amend"],"x-profile":["japan"]},{"name":"disclosure","in":"query","description":"A disclosure, to identify sections or components (e.g. BalanceSheet).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"reportElement","in":"query","description":"The name of the report element to search for, to retrieve a section, a component or a report element (e.g. us-gaap:Goodwill).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"label","in":"query","description":"A search term to search in the labels of components, to retrieve components (e.g. stock).","required":false,"type":"string"},{"name":"aggregation-function","in":"query","description":"Specify an aggregation function to aggregate facts. Will aggregate facts, grouped by dicers, but aggregated along slicers, with this function.","required":false,"type":"string","enum":["sum","avg","min","max","count","avedev","median","mode","product","stdev","stdeva","stdevp","stdevpa","sumsq","var","vara","varp","varpa"]},{"name":"validate","in":"query","description":"Whether or not to stamp facts for validity (default is false).","required":false,"type":"boolean","default":false},{"name":"merge","in":"query","description":"Whether to merge components if multiple components are retrieved. By default, it is true. If false, a random component is selected if multiple are retrieved (default: true).","required":false,"type":"boolean","default":true},{"name":"language","in":"query","description":"A language code (default: en-US) for displaying labels.","required":false,"type":"string","enum":["en-US","en","ja","he","fr","de-CH","de","es","zh"]},{"name":"override","in":"query","description":"Whether the static component or report hypercube should be tampered with using the same hypercube-building API as the facts endpoint (default: automatically detected).","required":false,"type":"boolean"},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"}],"responses":{"200":{"description":"Return the fact table for the given component","schema":{"type":"object"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found. / No such archive could be found. / No such component could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Fact Table as CSV","description":"Retrieve the fact table for a particular component. Return the result as CSV","profile":["sec"],"parameters":{"aid":"0000021344-14-000008","section":"http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets","format":"csv"}},{"title":"Fact Table of Coca Cola's Q3/2013 Balance Sheet","description":"Retrieve the fact table for the Balance Sheet of Coca Cola filing identified with accession number 0000021344-13-000050. Return the result as XML","profile":["sec"],"parameters":{"format":"xml","aid":"0000021344-13-000050","disclosure":"BalanceSheet"}},{"title":"Fact Table as CSV","description":"Retrieve the fact table for a particular component. Return the result as CSV","profile":["sec"],"parameters":{"aid":"0000021344-14-000008","section":"http://www.thecocacolacompany.com/role/ConsolidatedBalanceSheets","format":"csv"}},{"title":"Fact Table of Coca Cola's Q3/2013 Balance Sheet","description":"Retrieve the fact table for the Balance Sheet of Coca Cola filing identified with accession number 0000021344-13-000050. Return the result as XML","profile":["sec"],"parameters":{"format":"xml","aid":"0000021344-13-000050","disclosure":"BalanceSheet"}},{"title":"Get B/S report by company name/ID and period (by default in English)","description":"Get B/S report by company name/ID and period (by default in English)","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get B/S report by company name/ID and period, in Japanese","description":"Get B/S report by company name/ID and period, in Japanese","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet","profile-name":"japan","merge":"true","labels":"true","language":"ja","format":"xml"}},{"title":"Get P/L report by company name/ID and period","description":"Get B/S report by company name/ID and period","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get C/F report by company name/ID and period","description":"Get C/F report by company name/ID and period","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get B/S report for multiple FYs by company name/ID and range of period","description":"Get B/S report for multiple FYs by company name/ID and range of period","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":["Q1","Q2"],"section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get P/L report for multiple FYs by company name/ID and range of period","description":"Get P/L report for multiple FYs by company name/ID and range of period","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":["Q1","Q2"],"section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get C/S report for multiple FYs by company name/ID and range of period","description":"Get C/S report for multiple FYs by company name/ID and range of period","profile":["japan"],"parameters":{"eid":"http://info.edinet-fsa.go.jp E01225-000","archiveFiscalYear":"2014","archiveFiscalPeriod":["Q1","Q2"],"section":"http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get B/S report of different companies by list of company names/IDs and period","description":"Get B/S report of different companies by list of company names/IDs and period","profile":["japan"],"parameters":{"tag":"NIKKEI","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_QuarterlyConsolidatedBalanceSheet","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get P/L report of different companies by list of company names/IDs and period","description":"Get P/L report of different companies by list of company names/IDs and period","profile":["japan"],"parameters":{"tag":"NIKKEI","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jppfs/rol_YearToQuarterEndConsolidatedStatementOfIncome","profile-name":"japan","merge":"true","labels":"true","format":"xml"}},{"title":"Get C/S report of different companies by list of company names/IDs and period","description":"Get C/S report of different companies by list of company names/IDs and period","profile":["japan"],"parameters":{"tag":"NIKKEI","archiveFiscalYear":"2014","archiveFiscalPeriod":"Q1","section":"http://disclosure.edinet-fsa.go.jp/role/jpcrp/rol_NotesQuarterlyConsolidatedStatementOfCashFlows","profile-name":"japan","merge":"true","labels":"true","format":"xml"}}]}},"/api/facttable-for-report":{"get":{"summary":"Retrieve the fact table for a given report. Filters can be overriden. Filters MUST be overriden if the report is not already filtering.","operationId":"listFactTableForReport","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html","atom-xml"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"concept","in":"query","description":"The name of a concept to dice facts (a synonym for the dimension xbrl:Concept).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fiscalYear","in":"query","description":"A fiscal year to slice facts (a synonym for the dimension xbrl28:FiscalYear, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriod","in":"query","description":"A fiscal period to slice facts (a synonym for the dimension xbrl28:FiscalPeriod, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"]},{"name":"fiscalPeriodType","in":"query","description":"A fiscal period type to slice facts (a synonym for the dimension xbrl28:FiscalPeriodType, default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["instant","YTD","QTD"],"x-profile":["sec","japan"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"open","in":"query","description":"Whether the hypercube query has open hypercube semantics, i.e., automatically stretches to accommodate for all found dimensions (default: false).","required":false,"type":"boolean"},{"name":"report","in":"query","description":"The report to use as a context to retrieve the facts. In particular, concept maps and rules found in this report will be used. (default: none).","required":false,"type":"string","enum":["FundamentalAccountingConcepts","null"]},{"name":"labels","in":"query","description":"Whether human-readable labels should be included for concepts in each fact (default: false).","required":false,"type":"boolean","default":false},{"name":"audit-trails","in":"query","description":"Whether audit trails should be included in each fact (default: no).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"language","in":"query","description":"A language code (default: en-US) for displaying labels.","required":false,"type":"string","enum":["en-US","en","ja","he","fr","de-CH","de","es","zh"]},{"name":"aggregation-function","in":"query","description":"Specify an aggregation function to aggregate facts. Will aggregate facts, grouped by dicers, but aggregated along slicers, with this function.","required":false,"type":"string","enum":["sum","avg","min","max","count","avedev","median","mode","product","stdev","stdeva","stdevp","stdevpa","sumsq","var","vara","varp","varpa"]},{"name":"validate","in":"query","description":"Whether or not to stamp facts for validity (default is false).","required":false,"type":"boolean","default":false},{"name":"override","in":"query","description":"Whether the static component or report hypercube should be tampered with using the same hypercube-building API as the facts endpoint (default: automatically detected).","required":false,"type":"boolean"},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"}],"responses":{"200":{"description":"Return the fact table for the given component","schema":{"type":"object"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found. / No such archive could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Fact Table for the Fundamental Accounting Concepts of COCA COLA's 2010..2013 10-K filings as CSV.","description":"Retrieve the fact table for a particular component. Return the result as CSV.","profile":["sec"],"parameters":{"report":"FundamentalAccountingConcepts","ticker":"ko","fiscalYear":["2013","2012","2011","2010"],"fiscalPeriod":"FY","format":"csv"}},{"title":"Fact Table for the Fundamental Accounting Concepts of EAST JAPAN RAILWAY COMPANY for Q1 2014","description":"Retrieve the fact table for a particular report. Return the result as XML.","profile":["japan"],"parameters":{"report":"JapaneseFundamentalAccountingConcepts","edinetcode":"E04147","fiscalYear":["2014"],"fiscalPeriod":"Q1","format":"xml"}}]}},"/api/filings":{"get":{"summary":"Retrieve metadata about the filings, also called archives. The filings are identified with Archive IDs (AIDs). Facts can be bound with filings with the xbrl28:Archive aspect, whose values are AIDs.","operationId":"listFilings","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"filingKind","in":"query","description":"The kind of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["EDINET","TDNET","entity","quarterly-securities-report","extraordinary-report","internal-control-report","annual-securities-report","reports-of-possession-of-large-volumes","change-report","amend"],"x-profile":["japan"]},{"name":"language","in":"query","description":"A language code (default: en-US) for displaying labels.","required":false,"type":"string","enum":["en-US","en","ja","he","fr","de-CH","de","es","zh"]},{"name":"count","in":"query","description":"If true, only outputs statistics (default: false).","required":false,"type":"boolean","default":false},{"name":"top","in":"query","description":"Output only the first [top] results (default: no limit).","required":false,"type":"integer","format":"xs:nonNegativeInteger"},{"name":"skip","in":"query","description":"Skip the first [skip] results.","required":false,"type":"integer","format":"xs:nonNegativeInteger"}],"responses":{"200":{"description":"Returns all filings for the given entity","schema":{"type":"object"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Get all filings from a specific entity.","description":"Retrieve information about the filings of an entity. Return the result as XML.","profile":["sec"],"parameters":{"cik":"66740","format":"xml"}},{"title":"Get all EDINET filings.","description":"Retrieve all EDINET filings for 2012.","profile":["japan"],"parameters":{"tag":"all","filingKind":"EDINET","archiveFiscalPeriod":"ALL","archiveFiscalYear":2012}}]},"post":{"summary":"Add or update filings. The filings are identified with Archive IDs (AIDs).\n\nThere are two ways to create a filing: a full import of an XBRL instance and taxonomy out of a ZIP file, or a new empty filing with a JSON object containing its metadata.\n\nA full import is performed by provided, in the body of the request, a ZIP Deflate-compressed archive. This will import all the facts from the instance, as well as the taxonomy schema and linkbases.\n\nAlternatively, a new empty filing can be created by submitting a JSON object containing general information about the filing. This JSON object must be valid agains a JSound schema. It can be either taken from the output of a GET request to the same endpoint (in which case it will be valid), or created manually.\n\nFor convenience, we offer a user-friendly summary of the fields involved. The JSound schema is available on request.\n\n#### Body properties\n\n| Field | Type | Presence | Content |\n|-------|------|----------|---------|\n| AID | string | required | The AID of the archive |\n| Entity   | string | optional | The EID to which the archive belongs |\n| Entities  | array of strings (at least one) | required if Entity is absent | Used if the archive reports information on more than one entity. |\n| InstanceURL  | string | optional | The URL of the original XBRL instance |\n| Namespaces  | object with string values | optional | Maps prefixes to namespaces for the filing (common bindings are automatically added) |\n| Profiles | object | optional | Maps profile names to additional profile-specific information. The profile-specific information must have a Name field containing the profile name, that is, identical to its key. The other fields in the profile information is not restricted. |\n\nAdditionally, the following fields are allowed for the purpose of feeding back the output of the filings endpoint as input:\n\n- Components (string)\n- Sections (string)\n- NumSections (integer)\n- NumFacts (integer)\n- NumFootnotes (integer)\n- NumReportElements (integer)\n- NumHypercubes (integer)\n- NumDimensions (integer)\n- NumMembers (integer)\n- NumLineItems (integer)\n- NumAbstracts (integer)\n- NumConcepts (integer)\n\nSeveral empty filings can be created at the same time by posting a sequence of non-comma-separated JSON objects as above.\n","operationId":"insertFilings","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"filing-detection-profile-name","in":"query","description":"when the specified filing is a folder or an xbrlx archive, this parameter can be used to override the algorithm used to identify which files are the filing entrypoint. Allowed values: XBRL (*.xbrl files), XML (*.xml files), XBRLANDXML (*.xbrl and *.xml files), SEC (*.xml files, with custom filters to exclude linkbases), and FSA.","required":false,"type":"string","enum":["SEC","FSA","XBRL","XML","XBRLANDXML"]},{"name":"taxonomy","in":"query","description":"Whether the specified filing is an XBRL taxonomy or not. (Only used when providing compressed XBRL filings)","required":false,"type":"boolean"},{"name":"insert-entity","in":"query","description":"If false, and one or more of the archive entities are not present in the repository an error is raised. If true, the missing entity is inserted. (Default is true, only used when providing compressed XBRL filings)","required":false,"type":"boolean","default":true},{"name":"Content-Type","in":"header","description":"Content-Type of the request, as an HTTP header. It must be set to \"application/json\" when providing a filing in json format, or to \"application/xbrlx\" when providing a ZIP Deflate-compressed XBRL filing.","required":false,"type":"string","enum":["application/json","application/xbrlx"]},{"name":"filing","in":"body","description":"The body of the request. If the content type is application/json, the filing JSON objects, which must satisfy the constraints described in the field table. If the content type is application/xbrlx, a ZIP-Deflate-compressed XBRL filing.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"Filings have been added.","schema":{"type":"object"}},"400":{"description":"One of the supplied archives is invalid or (if JSON) already exists.","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied.","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity could be found.","schema":{"$ref":"#/definitions/Outcome"}},"409":{"description":"Duplicate archive in the input or archive already exists.","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request.","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":[{"title":"Import an XBRL instance","description":"Imports a ZIP-Deflate-compressed XBRL filing","method":"post","body":"[ZIP-Deflate-compressed XBRL filing]"},{"title":"Create a new archive","description":"Create a new archive from scratch","method":"post","body":"{ \"AID\" : \"my-archive\", \"Entity\" : \"http://www.example.com 001\" }"}]},"delete":{"summary":"Deletes a filing.","operationId":"deleteFiling","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"filingKind","in":"query","description":"The kind of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["EDINET","TDNET","entity","quarterly-securities-report","extraordinary-report","internal-control-report","annual-securities-report","reports-of-possession-of-large-volumes","change-report","amend"],"x-profile":["japan"]}],"responses":{"204":{"description":"Filings have been deleted.","schema":{"type":"object"}},"400":{"description":"Cannot delete more than one archive at a time (safety mechanism).","schema":{"$ref":"#/definitions/Outcome"}},"401":{"description":"Unauthorized: the specified project token is invalid, expired, or has insufficient privileges.","schema":{"$ref":"#/definitions/Outcome"}},"403":{"description":"Access denied.","schema":{"$ref":"#/definitions/Outcome"}},"404":{"description":"No such entity or archive could be found.","schema":{"$ref":"#/definitions/Outcome"}},"500":{"description":"An internal error occurred during the processing of the request.","schema":{"$ref":"#/definitions/Outcome"}}},"x-examples":null}},"/api/labels":{"get":{"summary":"Retrieve labels for the supplied components and report elements","operationId":"listLabels","tags":["data"],"parameters":[{"name":"profile-name","in":"query","description":"Specifies which profile to use, which will enable some parameters or modify hypercube queries accordingly. The default depends on the underlying repository","required":false,"type":"string","enum":["sec","generic","japan","boi"]},{"name":"format","in":"query","description":"Returns the results in the supplied format","required":false,"type":"string","enum":["json","csv","xml","excel","html"],"default":"json","x-exclude-from-bindings":true},{"name":"format-indent","in":"query","description":"Whether or not to indent JSON or XML output (default: no indent).","required":false,"type":"string","enum":["yes","no"],"default":"no"},{"name":"token","in":"query","description":"The token that allows you to use this API. Gives you read (GET) and/or write (POST, DELETE, PATCH) credentials.","required":true,"type":"string"},{"name":"aid","in":"query","description":"Archive IDs, to retrieve filings, sections, components or slice facts.","required":false,"type":"string"},{"name":"eid","in":"query","description":"The EID (scheme + local name) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cik","in":"query","description":"The CIK of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"ticker","in":"query","description":"The ticker of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"edinetcode","in":"query","description":"The EDINET code of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi","x-profile":["japan"]},{"name":"tag","in":"query","description":"The tag of an entity (such as an index), to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["DOW30","SP500","RUSSEL1000","FORTUNE100","PJI","ALL"],"x-profile":["sec","japan"]},{"name":"sic","in":"query","description":"The SIC (industry group) of a company, to retrieve entities, filings, sections, components or dice facts.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec"]},{"name":"archiveFiscalYear","in":"query","description":"The fiscal year focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"string","enum":["year (e.g. 2011)","LATEST","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"archiveFiscalPeriod","in":"query","description":"The fiscal period focus of the filing, to retrieve filings, sections, components or slice facts (default: ALL).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["Q1","Q2","Q3","Q4","FY","ALL"],"x-profile":["sec","japan"],"default":"ALL"},{"name":"filingKind","in":"query","description":"The kind of the filing, to retrieve filings, sections, components or slice facts (default: no filtering).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","enum":["EDINET","TDNET","entity","quarterly-securities-report","extraordinary-report","internal-control-report","annual-securities-report","reports-of-possession-of-large-volumes","change-report","amend"],"x-profile":["japan"]},{"name":"section","in":"query","description":"The URI of a particular section, to retrieve a section, component or report element.","required":false,"type":"array","items":{"type":"integer"},"collectionFormat":"multi"},{"name":"hypercube","in":"query","description":"The name of a hypercube report element, to retrieve components / sections.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"disclosure","in":"query","description":"A disclosure, to identify sections or components (e.g. BalanceSheet).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","x-profile":["sec","japan"]},{"name":"reportElement","in":"query","description":"The name of the report element to search for, to retrieve a section, a component or a report element (e.g. us-gaap:Goodwill).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"label","in":"query","description":"A search term to search in the labels of components, to retrieve components (e.g. stock).","required":false,"type":"string"},{"name":"language","in":"query","description":"A language code (default: en-US) for displaying labels.","required":false,"type":"string","enum":["en-US","en","ja","he","fr","de-CH","de","es","zh"]},{"name":"labelRole","in":"query","description":"A label role (default: no filtering by label role). A more comprehensive list of label roles can be found in the [XBRL Standard](http://www.xbrl.org/Specification/XBRL-2.1/REC-2003-12-31/XBRL-2.1-REC-2003-12-31+corrected-errata-2013-02-20.html#Standard-label-role-attribute-values).","required":false,"type":"string","enum":["http://www.xbrl.org/2003/role/label","http://www.xbrl.org/2003/role/terseLabel","http://www.xbrl.org/2003/role/verboseLabel","http://www.xbrl.org/2003/role/totalLabel","http://www.xbrl.org/2008/role/label","http://www.xbrl.org/2008/role/verboseLabel","http://www.xbrl.org/2008/role/terseLabel","http://www.xbrl.org/2008/role/documentation"]},{"name":"onlyTextBlocks","in":"query","description":"If set to true only labels for concepts defined as textBlockItemType are returned (default: false).","required":false,"type":"boolean"},{"name":"kind","i
[...]
